<header>
  <div class="jumbotron">
    <div class="row">
      <div class="col-8">
        <h1 class="display-4">Just-Ate V2</h1>
        <p class="text-md">
          Just-Ate allows an interactive experience devouring the food you
          add as a takeaway
        </p>
      </div>
      <div class="col-2 text-center align-self-center">
        <a class="btn btn-light" href="/restaurant_list" role="button">Restaurant List</a>
      </div>
      <div class="col-2 text-center align-self-center">
        <a class="btn btn-primary" href="/basket" role="button">Basket</a>
      </div>
    </div>
  </div>
</header>