<div class="container">
  {{> head}}

  <section>
    <h2 class="text-center">Basket</h2>

    <div class="row p-4 border align-items-center">
      <div class="col-2">
        <img class="align-self-center" src="/images/takeawayBanner.png" alt="Generic placeholder image"
          style="width: 100px;" />
      </div>
      <div class="col-6">Dead Good Kebab</div>
      <div class="col-2">Quantity: 1</div>
      <div class="col-2">
        <div class="text-center">
          <a class="btn btn-danger" href="#" role="button">Remove all</a>
        </div>
      </div>
    </div>

    <div class="row p-4 border align-items-center">
      <div class="col-2">
        <img class="align-self-center" src="/images/takeawayBanner.png" alt="Generic placeholder image"
          style="width: 100px;" />
      </div>
      <div class="col-6">Dead Good Kebab</div>
      <div class="col-2">Quantity: 1</div>
      <div class="col-2">
        <div class="text-center">
          <a class="btn btn-danger" href="#" role="button">Remove all</a>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <a class="btn btn-success p-3" href="#" role="button">Checkout</a>
    </div>
  </section>
</div>