<div class="container">
  <header>
    <div class="jumbotron">
      <div class="row">
        <div class="col-8">
          <h1 class="display-4">Just-Ate V1</h1>
          <p class="text-md">
            Just-Ate allows an interactive experience devouring the food you
            add as a takeaway
          </p>
        </div>
        <div class="col-4 text-center align-self-center">
          <a class="btn btn-primary" href="#" role="button">Coming Soon: V2</a>
        </div>
      </div>
    </div>
  </header>

  <h2 class="text-center">Devour ALL the Food!</h2>

  <section class="my-4">
    <div class="row">
      <div class="col-6">
        <img class="img-fluid" alt="takeaway banner" src="takeawayBanner.png" />
      </div>
      <div class="col-6 align-self-center">
        <form class="form-inline" action="/api/foods" method="POST">
          <div class="form-group mx-sm-3 mb-2">
            <label for="foodOption" class="mr-2">Add a takeaway option!</label>
            <input type="text" class="form-control" id="foodOption" placeholder="Wigan Kebab" name="food" />
          </div>
          <button type="submit" class="btn btn-success mb-2">
            Add Option
          </button>
        </form>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-6 text-center">
        <h3>Takeaway options</h3>
        <div class="text-center mt-4">
          {{#each foods}}
          {{> food/takeaway}}
          {{/each}}
        </div>
      </div>
      <div class="col-6 text-center">
        <h3>Devoured Food</h3>
        <div class="text-center mt-4">
          {{#each devouredFoods}}
          {{> food/devoured}}
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</div>