{{> head}}
<div class="jumbotron text-center">
  <h2>You've had an oops! Our detective is on the case!</h2>
  <img
    src="https://images.unsplash.com/photo-1525785967371-87ba44b3e6cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80"
    style="padding: 15px 0; width: 500px" />
  <h3>We're looking into it, check back later.</h3>
</div>