<div class="container">
  {{> head}}

  <section>
    <h2 class="text-center">Dead Good Kebabs Menu</h2>

    <div id="featured" class="card">
      <h5 class="card-header">Featured</h5>
      <div class="card-body">
        <div class="row border-bottom">
          <div class="media col-11">
            <!-- Image is way too wide, which is why Ive overriden it here - feel free to remove later! -->
            <img class="mr-3 align-self-center" src="/images/takeawayBanner.png" alt="Generic placeholder image"
              style="width: 100px;" />
            <div class="media-body">
              <h5 class="mt-1">Media heading</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in
              faucibus.
            </div>
          </div>
          <div class="col-1 align-self-center text-center">
            <button type="submit" class="btn btn-success mb-2">
              Add
            </button>
          </div>
        </div>
        <div class="row border-bottom">
          <div class="media col-11">
            <!-- Image is way too wide, which is why Ive overriden it here - feel free to remove later! -->
            <img class="mr-3 align-self-center" src="/images/takeawayBanner.png" alt="Generic placeholder image"
              style="width: 100px;" />
            <div class="media-body">
              <h5 class="mt-1">Media heading</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in
              faucibus.
            </div>
          </div>
          <div class="col-1 align-self-center text-center">
            <button type="submit" class="btn btn-success mb-2">
              Add
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="Other Items" class="card">
      <h5 class="card-header">Other Items</h5>
      <div class="card-body">
        <div class="row border-bottom">
          <div class="media col-11">
            <!-- Image is way too wide, which is why Ive overriden it here - feel free to remove later! -->
            <img class="mr-3 align-self-center" src="/images/takeawayBanner.png" alt="Generic placeholder image"
              style="width: 100px;" />
            <div class="media-body">
              <h5 class="mt-1">Media heading</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in
              faucibus.
            </div>
          </div>
          <div class="col-1 align-self-center text-center">
            <button type="submit" class="btn btn-success mb-2">
              Add
            </button>
          </div>
        </div>
        <div class="row border-bottom">
          <div class="media col-11">
            <!-- Image is way too wide, which is why Ive overriden it here - feel free to remove later! -->
            <img class="mr-3 align-self-center" src="/images/takeawayBanner.png" alt="Generic placeholder image"
              style="width: 100px;" />
            <div class="media-body">
              <h5 class="mt-1">Media heading</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in
              faucibus.
            </div>
          </div>
          <div class="col-1 align-self-center text-center">
            <button type="submit" class="btn btn-success mb-2">
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>