<div class="container">
  {{> head }}

  <section>
    <h2 class="text-center">Restaurant List</h2>

    <div class="row">
      <div class="card col-4">
        <img class="card-img-top" src="/images/takeawayBanner.png" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Damn good kebabs</h5>
          <p class="card-text">
            Freshest bramhall and stockport kebabs that you can get in the
            area
          </p>
          <a href="#" class="btn btn-primary">Select Restuarant</a>
        </div>
      </div>
      <div class="card col-4">
        <img class="card-img-top" src="/images/takeawayBanner.png" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Damn good kebabs</h5>
          <p class="card-text">
            Freshest bramhall and stockport kebabs that you can get in the
            area
          </p>
          <a href="#" class="btn btn-primary">Select Restuarant</a>
        </div>
      </div>
      <div class="card col-4">
        <img class="card-img-top" src="/images/takeawayBanner.png" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Damn good kebabs</h5>
          <p class="card-text">
            Freshest bramhall and stockport kebabs that you can get in the
            area
          </p>
          <a href="#" class="btn btn-primary">Select Restuarant</a>
        </div>
      </div>
    </div>
  </section>
</div>