<div class="card mb-3 mx-5 bg-info text-white">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h6 class="card-subtitle mb-2 font-italic">
      DEVOURED
    </h6>
  </div>
</div>