<form action="/api/foods/{{id}}" method="POST">
  <div class="card mb-3 mx-5">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <button class="devour btn btn-danger">Devour</button>
    </div>
  </div>
</form>